Repository hpc/charliecloud, pull requests merged in 2022-08, with the labels that each got.

#1399 add python requirements.txt
  packaging/requirements.txt
Labels: enhancement, medium, install

#1418 add `--no-lock` for YOLO storage directory access
  bin/ch-image.py.in
  bin/ch-run-oci.py.in
  doc/ch-image_desc.rst
  lib/charliecloud.py
Labels: enhancement, medium, image

#1434 Exclude lark from grep tool
  misc/grep
  test/build/50_ch-image.bats
Labels: bug, medium, misc, usability

#1437 add Lucas to contributors
  README.rst
Labels: refactor, medium, doc
