Repository hpc/charliecloud, pull requests merged in 2023-02, with the labels that each got.

#1553 `make clean`: fix skipped file
  doc/Makefile.am
Labels: bug, high, install

#1559 add phase to `ch-test` that builds images
  bin/ch-test
  doc/ch-test.rst
Labels: enhancement, medium, test, usability

#1574 test for bogus trailing whitespace
  bin/ch-convert
  doc/ch-convert.rst
  doc/faq.rst
  lib/charliecloud.py
  lib/pull.py
  lib/registry.py
  misc/grep
  misc/loc
  test/Makefile.am
  test/approved-trailing-whitespace
  test/build/10_sanity.bats
  test/common.bash
Labels: enhancement, medium, test

#1579 `ch-fromhost`: remove obsolete `--no-home`
  bin/ch-fromhost
Labels: refactor, medium, glue
