Repository hpc/charliecloud, pull requests merged in 2023-09, with the labels that each got.

#1717 Add extension `.df` for image name inference
  doc/ch-image.rst
  lib/build.py
Labels: enhancement, medium, image, usability

#1716 Actions: Update checkout to v3
  .github/workflows/main.yml
Labels: bug, medium, test

#1715 update copyright dates to 2023
  README.rst
  doc/conf.py
Labels: bug, medium, doc

#1714 developer script to keep branches tidy
  misc/branches-tidy
Labels: enhancement, medium, misc, usability

#1718 CI fix for `branches-tidy`
  misc/loc
Labels: bug, high, test

#1719 rm obsolete FAQ about `sudo`
  doc/faq.rst
Labels: bug, medium, doc

#1709 bash completion tweak
  bin/ch-completion.bash
Labels: bug, medium, misc

#1723 `--force` tests: disable Arch Linux
  test/force-auto.py.in
Labels: bug, high, test

#1721 `ch-image.rst`: update build cache comparison
  doc/ch-image.rst
Labels: enhancement, high, doc

#1731 add `--debug` to `ch-image` docs
  doc/ch-image.rst
Labels: bug, medium, doc

#1730 tidy some Python files
  lib/build.py
  lib/build_cache.py
  lib/charliecloud.py
  lib/filesystem.py
  lib/force.py
  lib/image.py
  lib/misc.py
  lib/pull.py
  lib/registry.py
Labels: refactor, medium, image
