Repository hpc/charliecloud, pull requests merged in 2023-04, with the labels that each got.

#1628 `Dockerfile.metadata`: `LABEL`: remove underscores
  test/Dockerfile.metadata
Labels: bug, medium, test

#1618 add bash completion to Charliecloud
  bin/ch-completion.bash
  doc/install.rst
Labels: enhancement, medium, misc

#1643 tutorial: `ch-convert` instead of `ch-image convert`
  doc/tutorial.rst
Labels: bug, high, doc, usability

#1642 `debian:stretch` fix
  examples/Dockerfile.debian_11ch
  examples/Makefile.am
  examples/multistage/Dockerfile
  misc/loc
  test/force-auto.py.in
Labels: bug, high, test
