Repository hpc/charliecloud, pull requests merged in 2023-07, with the labels that each got.

#1689 update tutorial and FAQ
  doc/faq.rst
  doc/install.rst
  doc/tutorial.rst
Labels: bug, medium, doc

#1697 quick and dirty `squashfuse` fix
  .github/workflows/main.yml
Labels: bug, high, misc

#1698 Fix typos: communcation -> communication
  doc/ch-fromhost.rst
  examples/Dockerfile.libfabric
Labels: bug, low, doc
